<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/wwwroot/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/object-fit-images/3.2.4/ofi.min.js"></script>


    <style>
        body1::before {
            content: '';
            position: fixed;
            left: 0;
            right: 0; 
            top: 0;
            bottom: 0; 
            z-index: -1; 
            background: url("/Kuvat/Varo iloista Askolaa.png") center / cover no-repeat;
            filter: blur(20px) brightness(95%);         
        }
        body {}
    </style>
</head>


<body  class="test">
    <div>
    @{

        if (Session["Kayttajanimi"] != null)
        {
            if (Session["Yllapito"].ToString() == "True")
            {

                Html.RenderPartial("_NavabarLoggeInAdmin");
            }
            else
            {
                Html.RenderPartial("_NavabarLoggeInNuori");
            }

        }
        else
        {
            Html.RenderPartial("_NavBarLoggedOut");

        }
    }

    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Kortti sovellus</p>
    </footer>
    </div>

    <script src="~/wwwroot/js/bootstrap.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>