@model NuorisoTaloKortti.Models.Kayttajat

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div style="text-align:center">
    <img src="~/Kuvat/Varo iloista Askolaa[223].png" width="400">

</div>


