@model NuorisoTaloKortti.Models.Kayttajat

@{
    ViewBag.Title = "About";
}

<div style="text-align:center">
    <img style="margin-top: 30px" src="~/Kuvat/Varo iloista Askolaa.png" width="400">

</div>


