@{
    ViewBag.Title = "Yhteystiedot";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Osoite
</address>

<address>
    <strong>Email 1:</strong>   <a href="">Email</a><br />
    <strong>Email 2:</strong> <a href="">Email</a>
</address>