@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Kortti Sovellus</h1>

</div>

<div style="text-align:center">
    <img src="~/Kuvat/Varo iloista Askolaa[223].png"  width="400">

</div>