<center>
    <div style="padding-top: 50px; padding-bottom: 30px;">
        <img src="~/Kuvat/oops.png" style="max-height: 250%" />
    </div>
    <div>
        <h1>Page not found !</h1>
    </div>
</center>