
@{
    ViewBag.Title = "Index";
}

<div style="margin-top: 15px;" class="container-fluid">
    <center>
        <a class="btn btn-primary" style="margin:15px; padding:6px 19px;" href="~/Nuoret/Index">Nuoret</a>
        <a class="btn btn-primary" style="margin:15px;" href="~/Huoltajat/Index">Huoltajat</a>
    </center>
</div>
